.width75 {
    width: 75% !important;
}

.pinkbtn {
    background: #F0555E !important;
    border: 1px solid #F0555E !important;
    color: #fff !important;
}

.authbox {
    padding: 75px 25px !important;
}

.anchorlink {
    color: #F0555E;
    text-decoration: underline;
}

a.viewanchor {
    font-weight: 600;
    text-decoration: underline;
    color: #696969;
}

label.viewed {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
}

label.unviewed {
    padding: 2px 10px;
    border-radius: 2px;
    background: #F0555E;
    color: #fff;
}

.floatright {
    float: right !important;
}

.statscontent {
    line-height: 15px !important;
    font-size: 22px !important;
}

.boxtitle {
    font-size: 13px !important;
    line-height: 0px !important;
}

#page-wrapper {
    min-height: 1050px !important;
}

.slotsection {
    border: 1px solid #efe0e0;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0px !important;
}

.slottiming {
    margin-bottom: 0px;
    font-size: 12px;
}

.fw500 {
    font-weight: 500;
}

a.bannerimage {
    background-image: url(../images/coverpicpreview.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}

a.bannerimageedit {
    /*background-image: url(../images/servicebanner.jpg) !important;*/
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}

.updatecoverpic {
    margin-top: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.66);
    border: 1px solid rgba(0, 0, 0, 0.66);
}

img.photosthumb {
    width: 100%;
    height: 74px;
}

.uploadimages {
    border: 2px dashed #d0cccc;
    height: 153px;
}

p.uploadimgtext {
    font-size: 18px;
}

.f30 {
    font-size: 30px !important;
}

p.addserviceheading {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px !important;
}

.savebtn {
    padding: 5px 10px;
    border: 1px solid #F0555E;
    background: #F0555E;
    color: #fff;
    font-weight: 500;
    float: right;
}

.savebtn:hover {
    color: #fff;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
    border-bottom: 1px solid #e5e5e5;
}

.checkboxlabel {
    font-size: 16px !important;
}

.width100 {
    width: 100%;
}

.white-box {
    padding: 20px 25px 25px 25px !important;
}

.bootstrap-tagsinput {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

span.tag.label.label-info {
    background: #F0555E !important;
}

a.plusicon {
    float: right;
    font-size: 17px !important;
    padding: 11px 14px;
    background: #F0555E;
    color: #fff;
    font-weight: 900;
    border-radius: 50px;
    margin-top: 12px;
}

.jq-toast-wrap.top-right {
    display: none !important;
}

.detailedviewiframe {
    width: 100% !important;
    border: 1px solid #fff !important;
    height: 1200px !important;
}


/*MULTIPLE IMAGE UPLOAD STARTS HERE*/

.drop-zone {
    /*width: 205px !important;*/
    height: 190px !important;
    border: 2px dashed #adb7be !important;
    text-align: center !important;
    padding: 25px 0 0 !important;
}

.drop-zone .font-icon {
    line-height: 60px;
    color: #919fa9;
    font-size: 2.75rem;
}

button.btn.btn-success.btn-block a {
    color: #fff;
}

.imgupload-btn {
    border: 1px solid #F0555E;
    background: #F0555E;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

.imgupload-btn:active {
    border: 1px solid #F0555E;
    background: #F0555E;
}

.imgupload-btn:hover {
    border: 1px solid #F0555E;
    background: #F0555E;
    color: #fff;
}

.btn-rounded {
    border-radius: 10em !important;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.home-list-pop img {
    width: 100%;
}


.btn-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    /*height: auto;*/
    height: 30px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn_txt {
    color: #ffffff;
}

.drop-zone .font-icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 2.75rem;
}

.drop-zone .drop-zone-caption {
    font-size: 2rem;
    font-weight: 600;
    color: #919fa9;
    margin: 0 0 2rem;
}

.upload_icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 3.75rem;
    /*my css*/
}





/*SHOW IMAGES SECTION*/

.dottedborder {
    padding: 10px;
    padding-top: 3px !important;
    border: 2px dashed #adb7be;
    height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
}





/*SHOW IMAGES SECTION*/


/*IMAGES HOVER CSS STARTS HERE*/

.itemsContainer {
    /* background:red; */
    float: left;
    position: relative
}

.itemsContainer:hover .play {
    display: block
}

.width50 {
    width: 50%;
}

.play {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 35%;
    width: 30px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.image_mt10 {
    margin: 5px 10px;
}



.itemsContainer:hover .image {
    opacity: 0.3;
}

.itemsContainer:hover .middle {
    opacity: 1;
}

.plr5 {
    padding: 10px 0px !important;
}

.prtm-main .prtm-sidebar-back {
    background-color: rgb(64, 69, 87) !important;
}

.mlr-3 {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.prtm-header .navbar-header {
    padding-right: 8px !important;
}

.w60p {
    width: 60% !important;
}




/*IMAGES HOVER CSS ENDS HERE*/


/*MULTIPLE IMAGE UPLOAD ENDS HERE*/


/*VERTICALLY CENTERING MODALS STARTS HERE*/

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/*VERTICALLY CENTERING MODALS ENDS HERE*/

.f16 {
    font-size: 16px !important;
}

.slotsection {
    border: 1px solid #eeeeee;
    padding: 10px 10px 0px 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.slotsection.active {
    background: #F0555E;
    color: #fff;
}

.slottiming {
    margin-bottom: 0px;
    font-size: 12px;
}

.slotsection.active h5 {
    color: #fff;
}

p.slotdays {
    font-size: 11px;
}

.h100 {
    height: 100px !important;
}

span.required {
    color: red;
}

.distancelabel {
    display: inline-block;
    background: #f0555e;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px !important;
    border-radius: 5px;
}

.reviewslabel {
    display: inline-block;
    font-size: 12px;
    background: #33b86c;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
}

p.sportsclubname {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
}

p.sportslocation {
    font-size: 12px;
    margin-bottom: 0px;
}

a.viewinmap {
    color: #f0555e;
    font-size: 12px;
    text-decoration: underline;
}

.pricingbtn {
    border: 1px solid #f0555e;
    color: #f0555e;
    font-size: 11px !important;
    pointer-events: none !important;
    background: #fff;
    margin-left: 4px;
}

.detailstitle {
    margin-bottom: 2px;
    font-size: 12px;
}

.detailscontent {
    margin-bottom: 2px;
    font-size: 12px;
}

.clockpickerborder {
    width: 100% !important;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.addressanchor {
    color: #313131 !important;
}

.sportslabel {
    display: inline-block;
    border: 1px solid #f0555e;
    color: #f0555e;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 5px !important;
    border-radius: 5px;
}

a.redicon {
    color: #f0555e;
    cursor: pointer;
}

@media (min-width: 768px) {
    .accountstats {
        position: inherit;
        margin: 0px;
        padding-top: 0px !important;
    }
}

.acctstats {
    font-size: 25px !important;
    font-weight: 500 !important;
    color: #f0555e !important;
}

.datepickerinput {
    margin-left: -15px !important;
}

.uncleared {
    border: 1px solid #f0555e;
    color: #f0555e;
    font-size: 11px !important;
    pointer-events: none !important;
    background: #fff;
}

.cleared {
    background: #f0555e !important;
    border: 1px solid #f0555e;

    color: #fff !important;
    font-size: 11px !important;
    pointer-events: none !important;
}

.viewmorebtn {
    padding: 5px 10px;
    border: 1px solid #F0555E;
    background: #F0555E;
    color: #fff;
    font-weight: 500;
    float: right;
    margin-right: 8px;
}

.viewmorebtn:hover {
    color: #fff;
    margin-right: 8px;
}

.videosection {
    position: relative;
}

.videosection img {
    width: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
}

.videosection .play-btn {
    width: 76px;
    height: 76px;
    line-height: 76px;
    display: inline-block;
    color: #fff;
    background: #f0555e;
    font-weight: 700;
    border-radius: 76px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -38px;
    text-align: center;
    font-size: 28px;
}

.videosection .play-btn:after {
    content: '';
    width: 96px;
    height: 96px;
    position: absolute;
    left: -12px;
    top: -12px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.3);
}