.w50{
	width: 50% !important;
}
.w25{
	width: 25% !important;
}
a.bannerimage-invitation {
    background-image: url(../images/invitation1.jpg);
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
a.bannerimage-invitation1 {
    background-image: url(../images/invitation1.jpg);
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
.mt25{
	margin-top: 25px !important;
}
.resizenone{
	resize: none;
}
a.editicon{
    float: right;
    font-size: 17px !important;
    padding: 11px 14px;
    background: #279acd;
    color: #fff;
    font-weight: 900;
    border-radius: 50px;
    margin-top: 12px;
}
.brline{
	border-right: 1px solid #eee;
}
.organiseradd-btn{
	margin-top: 0px !important;
	margin-bottom: 15px !important;
}
.mb0{
	margin-bottom: 0px !important;
}